* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
}

nav {
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #ccc;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

nav.show {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ccc;
}

div.show {
  background-color: #ccc;
}

button {
  border: none;
  background-color: #ccc;
  width: 100%;
  height: 25vh;
  font-size: 20px;
  line-height: 25vh;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2 ease-in;
}

.hero {
  display: block;
  height: 100vh;
  text-align: center;
  position: relative;
}

.awollift {
  display: none;
}

.heroImage img {
  display: none;
}

.hero .heroText {
  display: block;
  width: 100%;
  position: relative;
  top: 30vh;
  text-align: center;
}

.about {
  display: block;
  text-align: center;
  height: 100vh;
  margin: 10px 35px;
}

.about h2 {
  padding-bottom: 15px;
}

.about p {
  text-align: justify;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
}

.about div > img {
  display: none;
}

.services {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.services div {
  flex-grow: 1;
  width: 100%;
}

.services .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s ease-in-out;
}

.services .servicing {
  background-image: url(pics/servicing.jpg);
}

.services .repairing {
  background-image: url(pics/repair.jpg);
}

.services .building {
  background-image: url(pics/build.jpg);
}

.services .modernisation {
  background-image: url(pics/modernisation.jpg);
}

@media (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    background-color: #fff;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    border-bottom: black 2px solid;
  }

  button {
    width: 100px;
    height: 7vh;
    font-size: 12px;
    line-height: 7vh;
    background-color: #fff;
    color: #0;
    border-bottom: black 2px solid;
    transition: 0.3s ease-in-out;
  }

  button:hover {
    font-size: 16px;
  }

  .awollift {
    display: inline;
    padding: 0 50px;
    font-size: 28px;
    line-height: 7vh;
    color: #0;
  }

  .hamburger {
    display: none;
  }

  .services {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .services div {
    flex-grow: 1;
    width: 50%;
    height: 50%;
  }

  .services .image:hover {
    background-size: 120%;
    opacity: 0.6;
  }

  .hero {
  }

  .heroImage {
    width: 100%;
    text-align: center;
  }

  .heroImage img {
    display: inline-block;
    position: relative;
    top: 7vh;
    height: 86vh;
    max-width: 1700px;
  }

  .hero .heroText {
    display: block;
    width: 100%;
    position: absolute;
    top: 30vh;
    text-align: center;
  }
}
